# Virtual environments
.venv/
venv/
.v/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/
data/processed/*
!data/processed/
!data/processed/*.csv

# Power BI
powerbi/
*.pbix

# Environment variables
.env
.env.*

# Docker
.docker/

# IDE
.vscode/

# Trained machine learning models
models/
*.pkl
*.joblib